@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*Inicio Global*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*font-family: 'Roboto Slab', serif;*/
/*Fim Global*/
/*Inicio Header*/
header {
    background-color: #1B1B1B;
    height: 70px;
}

header h3 {
    font-size: 20px;
    float: left;
    margin-top: 30px;
    margin-left: 400px;

}

header a {
    text-decoration: none;
    color: white;
}

header img {
    width: 40px;
    float: left;



}

.imgm {
    margin-top: 20px;
    margin-left: 10px;
}

/*Fim Nav*/
/*Fim Header*/


/*Inicio SHOWROOM*/
.showroom {
    background-image: url(../img/login33.png);
    background-size: cover;
    min-height: 500px;
}

.container2 {
    padding-top: 50px;
}

.showroom form {
    background-color: white;
    width: 400px;
    height: 300px;
    padding-bottom: 80px;
    margin-left: 700px;

}

.data {
    padding: 30px;
}

.data input {
    border: none;
    border-bottom: 2px solid black;
    width: 300px;
    font-size: 16px;
    padding: 10px;
}

.data h2 {
    margin-top: 30px;
    padding-bottom: 2px;
    font-size: 20px;
}

.data p {
    padding-top: 30px;
    text-align: center;
}

.data a {
    text-decoration: none;
    color: #FFC709;
}

.data button {
    width: 300px;
    height: 40px;
    background-color: #FFC709;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.data button:hover {
    background-color: #FFDB66;
}


/*Fim SHOWROOM*/

/* EXTRA */

.extra {
    padding-top: 60px;
    margin: 10px;
    text-align: center;
    margin: 0 auto;

}

.extra img {
  height: 50px;
   visibility: hidden;
}

.extra .msg_erro {
    background-color:  #e7b9c4; 
    color: black; 
    visibility: hidden;
}