@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*Inicio Global*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
/*font-family: 'Roboto Slab', serif;*/
/*Fim Global*/

/*Inicio Header*/
header {
    background-color: #1B1B1B;
    height: 70px;
}

header h3 {
    font-size: 20px;
    float: left;
    margin-top:30px;
    margin-left: 400px;

}

header a {
    text-decoration: none;
    color: white;
}

header img {
    width: 40px;
    float: left;
    
    

}

.title a{
    text-decoration: none;
    color:#FFC709 ;
}

.imgm {
    margin-top: 20px;
    margin-left: 10px;
}
/*Fim Header*/

/*Inicio Showcase*/
.showcase{
    background-image: url(img/form3.png);
    height: 300px;
    color: white;
    border-bottom:2px solid yellow;
}

.text{
    padding: 60px 0 0 90px;
}

.text h1{
    font-size: 35px;
    padding-bottom: 20px;
    
}

.text p{
    font-size:20px;
}
/*Fim Showcase*/

/*Inicio Form*/
.question{
    font-weight: bold;
    font-size:25px;
}

.questionario label{
    font-size: 20px;
}

.questionario{
    padding-bottom: 30px;
    margin-left: 60px;
    margin-top: 90px;
}

.btn{
  padding-top: 40px;
}

.btn-form{
    padding:10px;
    width: 300px;
    background-color: #FFC709;
    cursor: pointer;
    font-weight: bold;
}

.btn-form:hover{
    background-color:  #FFDB66;
}




/*Fim Form*/
