@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*Inicio Global*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
/*font-family: 'Roboto Slab', serif;*/
/*Fim Global*/

/*Inicio Header*/
header {
    background-color: #1B1B1B;
    height: 70px;
}

header h3 {
    font-size: 20px;
    float: left;
    margin-top:30px;
    margin-left: 400px;

}

header a {
    text-decoration: none;
    color: white;
}

header img {
    width: 40px;
    float: left;
    
    

}

.title a{
    text-decoration: none;
    color:#FFC709 ;
}

.imgm {
    margin-top: 20px;
    margin-left: 10px;
}
/*Fim Header*/
