@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*Inicio Global*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
/*font-family: 'Roboto Slab', serif;*/
/*Fim Global*/


/*Inicio Header*/
header {
    background-image: url(img/wpp_oficiall.png);
    background-size: cover;
    height: 800px;
}

header h3 {
    font-size: 30px;
    float: left;
    margin-top: 40px;
    margin-left: 400px;

}

header a {
    text-decoration: none;
    color: white;
}

header img {
    width: 60px;
    float: left;

}

.imgm {
    margin-top: 30px;
}

header li {
    display: inline-block;
}

/*Inicio Nav*/
.nav1 {
    float: right;
    margin-top: 40px;
    margin-right: 400px;
    font-size: 15px;
}

.nav1 input {
    background-color: #FFC709;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}

.nav1 input:hover {
    background-color: #FFDB66;
}

.nav1 li {
    padding-right: 20px;
}

.nav1 a:hover {
    border-bottom: 1px solid #FFC709;
}

/*Fim Nav*/

/*Inicio SHOWROOM*/
.showroom {
    color: white;
    padding: 300px ;
}

.showroom h2{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    padding-bottom: 20px;
    
}

.showroom p{
    width: 600px;
    font-size: 20px;
}
/*Fim SHOWROOM*/

/*Fim Header*/